<template name="collectionAdminSettings">
    <div class="row"><h2>Collections <small>Manager</small></h2></div>
    <ul class="nav nav-tabs">
        <li><a href="#download" data-toggle="tab">Download Dumps</a></li>
        <li class="active"><a href="#upload" data-toggle="tab">Upload Dumps</a></li>
        <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="download">
            <div class="well">
                <p>Download</p>
            </div>
        </div>
        {{> importTab}}
        <div class="tab-pane" id="settings">
            <div class="well">
                <p>Settings</p>
            </div>
        </div>
    </div>
</template>

<template name="importTab">
        <div class="tab-pane" id="download">
            <div class="well">
                <p>Download</p>
            </div>
        </div>
        <div class="tab-pane active" id="upload">
            <div id="dropzone" class="well">
                <p>Upload</p>
                <span id="product-alerts">{{>bootstrapAlerts placement="collectionAdminImport"}}</span>
                {{#unless importData}}<div class="well">Drop files here</div>{{/unless}}
                {{#each importData}}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{name}}</div>

                            {{>fileInfo getDataObject}}

                    </div>
                {{/each}}
            </div>
        </div>
</template>

<template name="fileInfo">
    {{#unless get.length}}<div>Loading...</div>{{/unless}}
    <div class="panel-body">
        <span>Items found: {{get.length}}</span>
        <span><button id="save" type="button" class="btn btn-default">save to collection</button></span>
    </div>
    <ul class="list-group">
        {{#each get}}
            <li class="list-group-item importItem">
                <a href="#" class="list-group-item-heading">{{title}}</a>
                <div class="list-group-item-text hide">
                    <table class="table table-striped">
                        <tbody>
                            {{#each variants}}
                                <tr>
                                    <td>{{title}}</td>
                                    <td>{{price}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </li>
        {{/each}}
    </ul>
</template>
